@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200;1,400&display=swap');

/* @media(max-width:767px) {
    .carousel-inner>.item>a>img, .carousel-inner>.item>img{
        width: 100%;
        height: 240px;
}

@media(max-width:450px) {
    .carousel-inner>.item>a>img, .carousel-inner>.item>img{
        width: 100%;
        height: 269px;
}

@media(max-width:320px) {
    .carousel-inner>.item>a>img, .carousel-inner>.item>img{
        width: 100%;
        height: 240px;
} */

body {
    background-color: rgb(42, 42, 42);
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
}



body::-webkit-scrollbar {
    display: none;
  }

.logo{
    width: 6rem;
    object-fit: cover;
}

.video1{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.navbar{
    position: fixed;
    z-index: 1;
}

/* NAVBAR no centro */
nav {
    width: 100%;
    text-align: center;
}

nav div{
    margin: auto;
}

.p-title2{
    font-size: 4rem;
    color: rgb(0, 174, 255);
    font-family: 'Kanit', sans-serif;
}

.p-title{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
}

.nav-link{
    font-size: 1.2rem;
    color: white;
}

.nav-01{
    width: 193px;

}

.nav-02{
    width: 200px;
    
}

.logo {
    text-align: center;
}

.carouselExampleControls{
    padding:5%;
    animation: slide 1s infinite;
}

/* CORTESIA do Mayck */
.esquerda{
    width: 100%;
}

.esquerda div{
    margin: auto;
    margin-top: 0;
}

/*  */

.desencostar{
    margin-top: 80px;
}

.c-title{
    text-align: center ;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin-top: 80px;
    font-family: 'Kanit', sans-serif;
}

.c-tamanho{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;

}

.image{
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.card-title{
    color: rgb(0, 0, 0);
}

.img2{
    width: 722px;
    height: 255px;
}



.carousel-item img{
    height: 450px;
    width: 70%;
    object-fit: cover;
    border-radius: 20px;
}

.slide{
    height: 450px;
    width: 70%;
    margin: auto;
}

.catego {
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.bm {
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.bm2 {
    color: rgb(0, 51, 255);
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.bm3 {
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.audi {
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.audi2 {
    color: rgb(0, 51, 255);
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black 
}

.audi3 {
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.mase {
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.mase2 {
    color: rgb(0, 51, 255);
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black 
}

.mase3 {
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.ford {
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.ford2 {
    color: rgb(0, 51, 255);
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black 
}

.ford3 {
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.porc {
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.porc2 {
    color: rgb(0, 51, 255);
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black 
}

.porc3 {
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.marcas {
    height: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2.4rem;

}

.card{
    width: 300px;
}


/* @media screen and (max-device-width: 480px) {

} */





