body {
    background-color: black;
    overflow-x: hidden;
}

.logo{
    width: 6rem;
    object-fit: cover;
}

.video1{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    /* position: absolute; */

}

.navbar{
    margin-top: 2rem;
    position: fixed;
    z-index: 1;
}

.p-title{
    font-size: 5rem;
    color: white;
    font-family: helvetica;
}

.nav-link{
    font-size: 1.2rem;
    color: white;
}

.nav-01{
    margin-right: 4rem;
    width: auto;

}

.nav-02{
    margin-left: 4rem;
    
}


/* @media screen and (max-device-width: 480px) {

} */